<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/line-login.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <title>Login Success</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="area">
            <img src="/static/img/ocean-breath-black.png" alt="Login Banner" class="img-responsive center-block area-margin">
            <div class="center-block profile-margin">
              <img src="{{.Picture}}" class="profile-img img-circle" />
              <h4 >Hi {{.Name}}</h4>
              <h4 >Successful Login</h4>
              Back to <a href="/">portal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>