<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/line-login.css" />
    <title>Ocean Breath</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="area">            
            <img src="/static/img/ocean-breath-black.png" alt="Login Banner" class="img-responsive center-block area-margin">            
            <div id="web-login-button" class="center-block area-margin">
              <a class="center-block" href="/gotoauthOpenIDpage"></a>
            </div>
            <!--
            <h4 class="text-center area-margin">LINE Web Login(OpenID) with chatbot (normal)</h4>
            <div id="web-login-button" class="center-block area-margin">
              <a class="center-block" href="/gotoauthOpenIDpage?chatbot=normal"></a>
            </div>
            <h4 class="text-center area-margin">LINE Web Login(OpenID) with chatbot (aggressive)</h4>
            <div id="web-login-button" class="center-block area-margin">
              <a class="center-block" href="/gotoauthOpenIDpage?chatbot=aggressive"></a>
            </div>
            <hr>
            <h4 class="text-center area-margin">LINE Web Login - GetUserProfile </h4>
            <div id="web-login-button" class="center-block area-margin">
              <a class="center-block" href="/gotoauthpage"></a>
            </div>
            <hr>
            <hr>
            <hr>
            <h4 class="text-center area-margin">LINE Web Login(OpenID) PKCE </h4>
            <div id="web-login-button" class="center-block area-margin">
              <a class="center-block" href="/gotoauthOpenIDpage?enablePKCE=true"></a>
            </div>
            <h4 class="text-center area-margin">LINE Web Login - GetUserProfile </h4>
            <div id="web-login-button" class="center-block area-margin">
              <a class="center-block" href="/gotoauthpage?enablePKCE=true"></a>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>